body {
    color: dark;
    font-family: Arial;
}

.container {
    display: grid;
    position: relative;
    text-align: center;
    justify-self: end;
    align-self: center;
}

#photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    height: auto;
    max-width: 500px;
    width: 99%;
}

#question {
    justify-content: center;
    align-items: center;
    position: relative;
    font-weight: 800;
    font-size: 24px;
    margin-bottom: 50px;
}

#yes {
    margin-left: -100px;
    margin-right: 20px;
    text-align: center;
    font-weight: 800;
    font-size: 20px;
    padding: 10px 10 10px 10px;
    border: 1px solid dark;
    background: lightgreen;
    border-radius: 10px;
    width: 100px;
    height: 35px;
}
#yes:active {
    filter: brightness(90%);
}

#no {
    position: absolute;
    text-align: center;
    font-weight: 800;
    font-size: 20px;
    padding: 10px 10 10px 10px;
    border: 1px solid dark;
    background: lightgreen;
    border-radius: 10px;
    width: 100px;
    height: 35px;
}
#no:active {
    filter: brightness(90%);
}

#yesText {
    text-align: center;
    font-weight: 800;
    font-size: 25px;
}