#question {
    color: dark;
    font-family: Arial;
    font-weight: 800;
    position: absolute;
    top: 500px;
    right: 690px;
    font-size: 25px;
}

#photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    height: auto;
    width: 500px;
}

#yes {
    text-align: center;
    color: dark;
    font-weight: 800;
    font-size: 20px;
    position: absolute;
    left: 800px;
    right: 1000px;
    top: 590px;
    padding: 10px 10 10px 10px;
    border: 1px solid dark;
    background: lightgreen;
    border-radius: 10px;
    width: 100px;
    height: 35px;
}
#yes:active {
    filter: brightness(90%);
}

#no {
    text-align: center;
    color: dark;
    font-weight: 800;
    font-size: 20px;
    position: absolute;
    left: 970px;
    right: 830px;
    top: 590px;
    padding: 10px 10 10px 10px;
    border: 1px solid dark;
    background: lightgreen;
    border-radius: 10px;
    width: 100px;
    height: 35px;
}
#no:active {
    filter: brightness(90%);
}

#yesText {
    color: dark;
    font-family: Arial;
    font-weight: 800;
    position: absolute;
    top: 650px;
    right: 855px;
    font-size: 25px;
}

#noText {
    color: dark;
    font-family: Arial;
    font-weight: 800;
    position: absolute;
    top: 650px;
    right: 900px;
    font-size: 25px;
}