body {
    margin: 0;
}

.container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.photo {
    display: block;
    margin: 0 auto;
    max-width: 500px;
}

.question {
    font-weight: 800;
    font-size: 24px;
    font-family: Arial;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.button {
    cursor: pointer;
    font-weight: 800;
    font-size: 20px;
    padding: 0 20px;
    border: 1px solid dark;
    border-radius: 10px;
    background-color: lightgreen;
}

.button:active {
    filter: brightness(90%);
}

.button--no {
    transition: .3s;
}

.yesText {
    font-weight: 800;
    font-size: 25px;
}